<html lang="en"><head>
  </head>
  <body class="text-center">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="username" class="sr-only">Username</label>
      <input type="username" name="Username" placeholder="username">
      <label for="password" class="sr-only">Password</label>
      <input type="password" name"Password"  placeholder="password">
      <button class="btn" type="submit" name="button" value ="login" >Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</body></html>
