<html lang="en"><head>
  </head>
<form name="SingUp" action=""  method="POST" > 
  <body class="text-center">
      <h1> Please sign up</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="username" name="username" class="form-control" placeholder="User Name">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
      <button class="btn" type="submit" name="button" value ="login" >Sign up</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
</body></html>

